@charset "UTF-8";
@font-face {
  font-family: "Coolvetica"; 
  src: url("//db.onlinewebfonts.com/t/06594b8e23c284f33b51e05d8145f62d.eot"); 
  src: url("//db.onlinewebfonts.com/t/06594b8e23c284f33b51e05d8145f62d.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/06594b8e23c284f33b51e05d8145f62d.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/06594b8e23c284f33b51e05d8145f62d.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/06594b8e23c284f33b51e05d8145f62d.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/06594b8e23c284f33b51e05d8145f62d.svg#Coolvetica") format("svg"); 
}
/*https://www.onlinewebfonts.com/download/06594b8e23c284f33b51e05d8145f62d */
@import url(//db.onlinewebfonts.com/c/06594b8e23c284f33b51e05d8145f62d?family=Coolvetica);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height:100%;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

a, h1, h2{
  font-family: 'Coolvetica';
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  float: right;
  padding-bottom: 0px;
}

h2 {
  font-size: 4em;P
}

#bigC{
  font-size: 25em;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 150%;
}

.mainContent {
  margin-left: 240px;
  margin-top: 200px;
}

.aradContent {
  padding-left: 150px;
  padding-top: 75px;
  border-bottom: 1px solid lightgrey;
}

.aradDescrip {
  padding-top: 80px;
  width: 60%;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  border-bottom: 1px solid lightgrey;
  color: black;
  text-decoration: none;
}
nav ul li a:hover {
  border-bottom: 1px solid lightgrey;
  color: black;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  z-index: 1;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid lightgrey;
  height: 70px;
  width: 70px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  border-bottom: 1px solid lightgrey;
  position: absolute;
  display: block;
  content: "";
   transition: all 0.5s ease;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*phone*/
@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  .mainContent {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .aradContent {
    padding-left: 10px;
    padding-top: 5px;
  }

  .aradDescrip {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }

  #bigC{
    font-size: 9em;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 150%;
  }
}
/*tablet*/
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }

  .aradDescrip {
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
  }

  #bigC{
    font-size: 15em;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 150%;
  }
}
.navigation {
  height: 70px;
  border-bottom: 1px solid lightgrey;
}


.mainContent {
  margin-left: 20px;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  border: none;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  text-decoration: none;
  color: black;
}

/*desktop*/
@media screen and (min-width: 1000px) {
  .mainContent {
    margin-left: 240px;
  }

  .aradDescrip {
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;
  }
  
  #bigC{
  font-size: 25em;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 150%;
}
}

/*# sourceMappingURL=nav.css.map */
