
.myDiv{
	width:100%;
	height:100%;
}


.wrapper {
    height: 100vh;
    min-height: 1000px; 
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

header,
footer {
    height: 30px;
}

main {
    flex: 1;
}

/* Dropdown Button */
.dropbtn {
  background-color: #303442;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  max-height:250px;/* you can change as you need it */
  overflow:auto;/* to get scroll */
  display: none;
  /*position: absolute;*/
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #292c36}

.columnSmall {
  float: left;
  width: 10%;
}
.columnBig{
  float: left;
  width: 90%;
}
.row{
	height:100%;
	display: flex;
}


.header-basic-light{
  padding: 20px 40px;
  box-sizing:border-box;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  background-color: #e3e3e3;
}

.header-basic-light .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

/* Logo */

.header-basic-light .header-limiter h1{
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.header-basic-light .header-limiter h1 span {
  color: #454544;
}

/* The header links */

.header-basic-light .header-limiter a {
  color: #5c616a;
  text-decoration: none;
}

.header-basic-light .header-limiter nav{
  font:15px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.header-basic-light .header-limiter nav a{
  display: inline-block;
  padding: 0 5px;
  opacity: 0.9;
  text-decoration:none;
  color: #5c616a;
  line-height:1;
}

.header-basic-light .header-limiter nav a.selected {
  background-color: #d4c4b4;
  color: #ffffff;
  border-radius: 3px;
  padding:6px 10px;
}

/* Making the header responsive. */

@media all and (max-width: 600px) {

  .header-basic-light {
    padding: 20px 0;
    height: 85px;
  }

  .header-basic-light .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .header-basic-light .header-limiter nav {
    line-height: 1;
    float:none;
  }

  .header-basic-light .header-limiter nav a {
    font-size: 20px;
  }

}

body {
  margin:0;
  padding:0;
}

.descriptionBox {
  margin: auto;
  border-radius: 25px;
  border: 1px solid #ccc8c8;
  padding: 20px;
  width: 90%;
  height: 800px;
  overflow-y: scroll;
}
.box1{
  float :left;
  max-width: 55%;
  min-width: 55%;
}

.descriptionGraph{
  max-width: 40%;
  min-width: 40%;
  position:relative;
  float:right
}


.placeholder{
  background-color:#d4d2d2;
  height: 50%;
  width: 100%;
  padding-top: 20%;
  text-align: center;
}