.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  text-align: left;
}

.sideBySide{
  display: grid;
  float: left;
}

.side{
  float:left;
  position:relative;
}

div {
  opacity: 0.91;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease; 
  z-index: 900;
}

div:hover {
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; 
  z-index: 900;
}

