@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

@font-face {
  font-family: "Coolvetica";
  src: url(coolveticarg.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Mono', monospace; 
}


***************************************************************************************************************************************
.wholePage{
    width: 100%;
    background-color: black;
    height: 100%;
}

.myHeader{
  border: 0.5px solid black;
  height:40px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

**************************************************************************************************************************************


/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 90px;
  font-family: "Coolvetica";
}

p,
a {
  font-size: 25px;
  font-family: "PT Mono", serif;
}

.headroom {
  background: white;
}

.Navigation {
  overflow: hidden;
  background: black;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.Navigation a {
  padding: 0.7rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  color: white;
}

.Navigation a:hover {
  text-decoration: white wavy underline;
}

@media screen and (max-width: 600px) {
  .Navigation a:not(:first-child) {
    display: none;
  }
  .Navigation a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .Navigation.responsive {
    position: relative;
  }
  .Navigation.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
  }
  .Navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.Navigation .icon {
  display: none;
}

.grid {
  margin: 10rem;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  float: left;
  width: 50%;
  padding: 0px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    text-align: center;
  }
  .grid {
    margin: 0rem;
    text-align: center;
    vertical-align: center;
  }
}

.input {
  font-size: 20px;
  font-family: "PT Mono", serif;
  border-radius: 5px;
  width: 447.5px;
  height: 70.5px;
  border: none;
  border-left: 0.3rem solid #3ec8ac;
  border-right: 0.3rem solid #4e90a4;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.3rem;
  background-image: -webkit-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%),
    -webkit-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%);
  background-image: -moz-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%),
    -moz-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%);
  background-image: -o-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%),
    -o-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%);
  background-image: linear-gradient(to right, #3ec8ac 0%, #4e90a4 100%),
    linear-gradient(to right, #3ec8ac 0%, #4e90a4 100%);
}
.input::placeholder {
  font-size: 20px;
  font-family: "PT Mono", serif;
}
.input:focus {
  outline: none;
}

.input:hover {
  border-radius: 5px;
  border-left: 0.3rem solid #54176a;
  border-right: 0.3rem solid #c53f69;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.3rem;
  background-image: -webkit-linear-gradient(left, #54176a 0%, #c53f69 100%),
    -webkit-linear-gradient(left, #54176a 0%, #c53f69 100%);
  background-image: -moz-linear-gradient(left, #54176a 0%, #c53f69 100%),
    -moz-linear-gradient(left, #54176a 0%, #c53f69 100%);
  background-image: -o-linear-gradient(left, #54176a 0%, #c53f69 100%),
    -o-linear-gradient(left, #54176a 0%, #c53f69 100%);
  background-image: linear-gradient(to right, #54176a 0%, #c53f69 100%),
    linear-gradient(to right, #54176a 0%, #c53f69 100%);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
}

.submit {
  margin-top: 1rem;
  font-size: 20px;
  font-family: "PT Mono", serif;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid black;
  background: white;
  transition-timing-function: ease-in-out;
  transition: 0.4s;
  color: black;
  box-shadow: 5px 5px black;
}

.submit::placeholder {
  font-size: 20px;
  font-family: "PT Mono", serif;
}

.submit:focus {
  outline: none;
}

.submit:hover {
  box-shadow: none;
}

.topResult {
  margin-bottom: 3rem;
  font-size: 20px;
  font-family: "PT Mono", serif;
  border-radius: 5px;
  width: 447.5px;
  min-height: 400px;
  border: none;
  border-left: 0.3rem solid #3ec8ac;
  border-right: 0.3rem solid #4e90a4;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.3rem;
  background-image: -webkit-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%),
    -webkit-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%);
  background-image: -moz-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%),
    -moz-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%);
  background-image: -o-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%),
    -o-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%);
  background-image: linear-gradient(to right, #3ec8ac 0%, #4e90a4 100%),
    linear-gradient(to right, #3ec8ac 0%, #4e90a4 100%);
}
.topResult::placeholder {
  font-size: 20px;
  font-family: "PT Mono", serif;
}
.topResult:focus {
  outline: none;
}

.topResult:hover {
  border-radius: 5px;
  border-left: 0.3rem solid #54176a;
  border-right: 0.3rem solid #c53f69;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.3rem;
  background-image: -webkit-linear-gradient(left, #54176a 0%, #c53f69 100%),
    -webkit-linear-gradient(left, #54176a 0%, #c53f69 100%);
  background-image: -moz-linear-gradient(left, #54176a 0%, #c53f69 100%),
    -moz-linear-gradient(left, #54176a 0%, #c53f69 100%);
  background-image: -o-linear-gradient(left, #54176a 0%, #c53f69 100%),
    -o-linear-gradient(left, #54176a 0%, #c53f69 100%);
  background-image: linear-gradient(to right, #54176a 0%, #c53f69 100%),
    linear-gradient(to right, #54176a 0%, #c53f69 100%);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
}

.moreResult {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  font-size: 20px;
  font-family: "PT Mono", serif;
  border-radius: 5px;
  width: 700px;
  min-height: 300px;
  border: none;
  border-left: 0.3rem solid #3ec8ac;
  border-right: 0.3rem solid #4e90a4;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.3rem;
  background-image: -webkit-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%),
    -webkit-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%);
  background-image: -moz-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%),
    -moz-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%);
  background-image: -o-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%),
    -o-linear-gradient(left, #3ec8ac 0%, #4e90a4 100%);
  background-image: linear-gradient(to right, #3ec8ac 0%, #4e90a4 100%),
    linear-gradient(to right, #3ec8ac 0%, #4e90a4 100%);
}
.moreResult::placeholder {
  font-size: 20px;
  font-family: "PT Mono", serif;
}
.moreResult:focus {
  outline: none;
}

.moreResult:hover {
  border-radius: 5px;
  border-left: 0.3rem solid #54176a;
  border-right: 0.3rem solid #c53f69;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.3rem;
  background-image: -webkit-linear-gradient(left, #54176a 0%, #c53f69 100%),
    -webkit-linear-gradient(left, #54176a 0%, #c53f69 100%);
  background-image: -moz-linear-gradient(left, #54176a 0%, #c53f69 100%),
    -moz-linear-gradient(left, #54176a 0%, #c53f69 100%);
  background-image: -o-linear-gradient(left, #54176a 0%, #c53f69 100%),
    -o-linear-gradient(left, #54176a 0%, #c53f69 100%);
  background-image: linear-gradient(to right, #54176a 0%, #c53f69 100%),
    linear-gradient(to right, #54176a 0%, #c53f69 100%);
  transition-timing-function: ease-in-out;
  transition: 0.4s;
}

@media screen and (max-width: 600px) {
  .topResult {
    width: 447.5px;
    min-height: 400px;
  }
  .moreResult {
    width: 447.5px;
    min-height: 400px;
  }
}

.footer {
  float: right;
  margin-right: 1rem;
  font-family: "PT Mono", serif;
}
*/

/*
.mainSection {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.mainHomeSection {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
}


.miniSection {
    flex-grow: 1;
    min-width: 80%;
    text-align: center;
    margin: 30px;
}

.flexSection {
    flex: 1;
    border: 0.5px solid black;
}

.pdfView{
    margin-right: 0%;
    margin-left: 0%;
    height: 100vh;
}

.ten_percent{
    margin-right: 10%;
    margin-left: 10%;
}

*/