body{
  margin:0;
  padding:0;
}

.myDiv{
  width:100%;
  height:100%;
}


.wrapper {
  height: auto;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

header,
footer {
    height: 30px;
}

main {
    display: flex;
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #303442;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  max-height:250px;/* you can change as you need it */
  overflow:auto;/* to get scroll */
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #292c36}

.columnBig{
  width: 100%;
}
.row{
  height:100%;
  display: flex;
}


.header-basic-light{
  padding: 20px 40px;
  box-sizing:border-box;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  background-color: #e3e3e3;
}

.header-basic-light .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

/* Logo */

.header-basic-light .header-limiter h1{
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.header-basic-light .header-limiter h1 span {
  color: #454544;
}

/* The header links */

.header-basic-light .header-limiter a {
  color: #5c616a;
  text-decoration: none;
}

.header-basic-light .header-limiter nav{
  font:15px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.header-basic-light .header-limiter nav a{
  display: inline-block;
  padding: 0 5px;
  opacity: 0.9;
  text-decoration:none;
  color: #5c616a;
  line-height:1;
}

.header-basic-light .header-limiter nav a.selected {
  background-color: #d4c4b4;
  color: #ffffff;
  border-radius: 3px;
  padding:6px 10px;
}

/* Making the header responsive. */

@media all and (max-width: 600px) {

  .header-basic-light {
    padding: 20px 0;
    height: 85px;
  }

  .header-basic-light .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .header-basic-light .header-limiter nav {
    line-height: 1;
    float:none;
  }

  .header-basic-light .header-limiter nav a {
    font-size: 20px;
  }
}

.descriptionBox {
  padding-top: 50px;
  float:right;
  overflow:auto
  margin: auto;
/*  border-radius: 25px;
  border: 1px solid #ccc8c8;*/
  width: 65%;
  height:130vh;
  display: block;
}

.box1{

  float:left; 
  min-width: 45%;
  max-width: 45%;
  min-height: 43%;
  max-height: 43%;
/*
  border-radius: 25px;
  border: 1px  #ccc8c8;*/

}


.placeholder{
  background-color:#d4d2d2;
  height: 50%;
  width: 100%;
  padding-top: 20%;
  text-align: center;
}

.imageStyle1{
  transition: 0.5s;

  border: 1px solid #ccc8c8;
  border-radius: 25px;

  max-width:90%;
  max-height:90%;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imageStyle2{
  border: 1px solid #ccc8c8;
  border-radius: 25px;
  transition: 0.5s;
  max-width:95%;
  max-height:95%;
  opacity: 0.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.absolute-text-invisible{
  transition: 0s;

  position:absolute;
  bottom:25%; 
  font-size:30px;
  font-family: 'Roboto Mono';
  padding:10px 20px; 
  width:100%; 
  text-align:center;
  visibility: hidden;

}

.absolute-text-visible{
  transition: 1s;

  visibility: visible;
  position:absolute;
  bottom:25%; 
  font-size:30px;
  font-family: 'Roboto Mono';
  padding:10px 20px; 
  width:100%; 
  text-align:center;
}



.leftSide{
  border-radius: 25px;
  position:fixed;
  padding-left: 50px;
  top: 0;
  width:25%;
  height:100vh;
  background-color: #b6b8ba;
}


.mainTitle{
  padding-top: 20px;
  font-family: 'Roboto Mono'; 
  font-size: 30px;
  color:black;
  text-decoration: none;
}
.mainTitle:hover {
  color:#262624;
  text-decoration: underline;
}

.mainTitle:active,visited {
  color:black;
  text-decoration: none;
}


.menuHeading{
  font-family: 'Roboto Mono'; 
  font-size: 20px;
  color:black;
  text-decoration: overline;
}
.menuHeading:hover {
  color:#262624;
  text-decoration: overline;
}

.menuHeading:active,visited {
  color:black;
  text-decoration: overline;
}

.menuText{
  padding-bottom: 10px;
  padding-right: 50px;
  font-family: 'Roboto Mono'; 
  font-size: 15px;
  color:black;
  text-decoration: none;
  float:right;
}

.menuHeadingNoLink{
  font-family: 'Roboto Mono'; 
  font-size: 20px;
  color:black;
  text-decoration: underline;
}
.menuTextNoLink{
  padding-bottom: 10px;
  padding-right: 50px;
  font-family: 'Roboto Mono'; 
  font-size: 15px;
  color:black;
  text-decoration: none;
  float:left;
}

.boxAbout{

  float:left; 
  min-width: 45%;
  max-width: 45%;
/*  min-height: 43%;*/
  max-height: 43%;
/*
  border-radius: 25px;
  border: 1px  #ccc8c8;*/

}